*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:1rem 0
}
.logo{
    height: 40px;
}
.menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.menu  li{
    list-style-type: none;
}
.menu a{
    color:rgb(69, 195, 236);
    text-decoration: none;
    font-size: 20px;
}
.menu a:hover{
    color: tomato;
}
.search{
    padding: .5rem 1rem ;
    border-radius: 20px;
    border: solid black 1px;
    width: 100%;
}


